<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} {{ title }} - Inventory Management {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='site_icon.png') }}" class="js-favicon">
        <!--div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div-->
        <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% if title == 'ProductMovement' %}
            <style>
                .slide-container {
                    width: 100%;
                }
                .slider {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 10px;
                    border-radius: 5px;
                    background: #d3d3d3;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
                .slider:hover {
                    opacity: 1;
                }
                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 23px;
                    height: 24px;
                    border: 0;
                    background: url({{ url_for('static', filename='range_icon.png') }});
                    cursor: pointer;
                }
                .slider::-moz-range-thumb {
                    width: 23px;
                    height: 24px;
                    border: 0;
                    background: url({{ url_for('static', filename='range_icon.png') }});
                    cursor: pointer;
                }
            </style>
        {% endif %}
        <style>
            .container { padding-top: 70px; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed;width: 100%;z-index: 2;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto bg-dark alert-light">{{ title }}</ul>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" onclick="location.reload();location.href='{{ link.index }}'">Summary</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" onclick="location.reload();location.href='{{ link.location }}'">Location</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" onclick="location.reload();location.href='{{ link.product }}'">Products</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" onclick="location.reload();location.href='{{ link.movement }}'">Logistics</button>
                </div>
            </div>
	    </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>