{% extends 'base-template.html' %}
{% block content %}
    <div style="float:left;width:50%">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for warehouse in warehouses %}
                    <tr>
                        <td>{{ warehouse.name }}</td>
                        <td>{{ warehouse.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="float:left;width:50%;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}