{% extends 'base-template.html' %}
{% block content %}
    <!-- Div to list all warehouses -->
    <div style="float:left;width:50%">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for warehouse in warehouses %}
                    <tr>
                        <td>{{ warehouse.name }}</td>
                        <td>{{ warehouse.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Div to list all products -->
    <div style="float:left;width:50%;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Summary needed -->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <thead>
                {% for data in database %}
                    <tr>
                        <td>{{ data.product }}</td>
                        <td>{{ data.location }}</td>
                        <td>{{ data.count }}</td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
{% endblock %}