{% extends 'base-template.jinja' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead><th scope="col">Location ID</th><th scope="col">Location Name</th><th></th></thead>
        <tbody>
            {% for location in warehouses %}
            <tr>
                <td>{{ location[0] }}</td><td>{{ location[1] }}</td>
                <td>
                    <a href="{{ url_for('delete', loc_id=location[0], type='location') }}">
                        <button name="button" type="button" class="btn btn-danger" value="delete">delete</button><br>
                    </a>
                </td>
                <td>
                    <button name="button" type="button" class="btn btn-success" value="edit" data-toggle="modal" data-target="#edit_{{ location[0] }}">edit</button><br>
                    <div id="edit_{{ location[0] }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message" aria-hidden="true">
                    <form action="{{ url_for('edit', type='location') }}" method="post">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body"><input name="loc_name" placeholder="{{ location[1] }}"></div>
                                <div class="modal-footer">
                                    <input name="loc_id" value="{{ location[0] }}" hidden aria-hidden="true">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <!-- Inserting data -->
            <tr>
                <form action="{{ url_for('location') }}" method="POST">
                    <td></td>
                    <td><input name="warehouse_name" placeholder="Warehouse Name" required autofocus></td>
                    <td><input type="submit" class="btn btn-info btn-group-toggle" value="submit" /><br></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}