{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
        <h3 align="center" class="font-weight-light">Summary</h3>
        {% if database == None or database|length == 0 %}
            <h3 align="center" class="font-weight-light">Summary not available yet</h3>
        {% else %}
            <table class="table">
                <thead>
                    <th scope="col">Product</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">Quantity</th>
                </thead>
                <tbody>
                <!-- Showing current state (just as index.html -->
                    {% for data in database %}
                        <tr>
                            <td>{{ data[0] }}</td>
                            <td>{{ data[1] }}</td>
                            <td>{{ data[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br><hr><br>
        <!-- Inserting data -->
        <h3 align="center" class="font-weight-light">Make Product Movements</h3>
        <form action = "{{ url_for('movement') }}" method = "POST">
            <div class="form-row" title="Add logs">
                <div class="col">
                    <input name= "prod_name" list="products" placeholder="Product Name" class="form-control" autocomplete="off" required>
                    <datalist id="products">
                        {% for product in products %}
                            <option value="{{ product[1] }}" id="prod_{{ product[0] }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col">
                    <input name= "from_loc" list="locations_to_from" placeholder="From Warehouse" class="form-control" autocomplete="off">
                </div>
                <div class="col">
                    <input name= "to_loc" list="locations_to_from" placeholder="To Warehouse" class="form-control" autocomplete="off">
                </div>
                <div class="col">
                    <input type="range" max="" name="quantity" placeholder="Quantity" class="rangeslider rangeslider--horizontal" autocomplete="off" required>
                    <!-- ADD min / max values or something, from available/unallocated prods-->
                </div>
                <div class="col">
                    <input type= "submit" class="btn btn-info btn-group-toggle" value= "submit" /><br>
                </div>
                <datalist id="locations_to_from">
                    {% for location in locations %}
                        <option value="{{ location[1] }}" id="loc_{{ location[0] }}">
                    {% endfor %}
                </datalist>
            </div>
        </form>
    </div>
{% endblock %}