{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
        <h3 align="center" class="font-weight-light">Summary</h3>
            <table class="table">
            <thead>
                <th scope="col">Product</th>
                <th scope="col">Warehouse</th>
                <th scope="col">Quantity</th>
            </thead>
            <tbody>
                <!-- Showing current state (just as index.html -->
                {% for data in database %}
                    <tr>
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                    </tr>
                {% endfor %}
                <!-- Inserting data -->
                <tr>
                    <form action = "{{ url_for('movement') }}" method = "POST">
                        <td>
                            <input name= "prod_name" list="products" placeholder="Product Name" required>
                            <datalist id="products">
                                {% for product in products %}
                                    <option value={{ product }}>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>
                            <input name= "from_loc" list="from_loc" placeholder="From Warehouse" required>
                            <datalist id="from_loc">
                                {% for location in locations %}
                                    <option value={{ location }}>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>
                            <input name= "to_loc" list="to_loc" placeholder="To Warehouse" required>
                            <datalist id="to_loc">
                                {% for location in locations %}
                                    <option value={{ location }}>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>
                            <input name= "quantity" placeholder="Quantity" required>
                        </td>
                        <td>
                            <input type= "submit" class="btn btn-info btn-group-toggle" value= "submit" /><br>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}