{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
        <form action = "{{ url_for('movement') }}" method = "POST">
        <table class="table">
            <thead>
                <th scope="col">Location ID</th>
                <th scope="col">Location Name</th>
            </thead>
            <tbody>
                <!-- Inserting data -->
                <tr>
                    <td>
                        <input name= "prod_name" placeholder="Product Name" required>
                    </td>
                    <td>
                        <input name= "from_loc" placeholder="From Warehouse" required>
                    </td>
                    <td>
                        <input name= "to_loc" placeholder="To Warehouse" required>
                    </td>
                    <td>
                        <input name= "quantity" placeholder="Quantity" required>
                    </td>
                    <td>
                        <input type= "submit" class="btn btn-info btn-group-toggle" data-toggle="modal" data-target="#trans_message" value= "submit" /><br>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}