{% extends 'base-template.html' %}
{% block content %}
    <form action = "{{ url_for('product') }}" method = "POST">
    <table class="table">
        <thead>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.id }}</td>
                </tr>
            {% endfor %}
            <!-- Inserting data -->
            <tr>
                <td>
                    <input name = "prod_name" placeholder="Product Name" required>
                </td>
                <td>
                    <input type = "submit" value = "submit" /><br>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
{% endblock %}