{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
        <form action = "{{ url_for('product') }}" method = "POST">
        <table class="table">
            <thead>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[2] }}</td>
                        <td>
                            <a href="{{ url_for('delete', prod_id=product[0], type='product') }}">
                                <button name="button" type="button" class="btn btn-danger" value= "delete" >delete</button><br>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('edit', prod_id=product[0], type='product') }}">
                                <button name="button" type="button" class="btn btn-success" value= "edit" data-toggle="modal" data-target="#edit" >edit</button><br>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Inserting data -->
                <tr>
                    <td>
                        <input name = "prod_name" placeholder="Product Name" required>
                    </td>
                    <td>
                        <input name = "prod_quantity" placeholder="Quantity" required>
                    </td>
                    <td>
                        <input type= "submit" class="btn btn-info btn-group-toggle" value= "submit" /><br>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}